/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

/* Header Section*/
header {
    background-color: #000000;
    padding: 15px;
}

/* Flexbox Applied to Navigation*/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid transparent;
}

nav a:hover {
    border: 1px solid #ffffff;
}

/* Main content*/
main {
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ddd;
}

/* All sections */
section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #fafafa;
}

/* Home section Alignment */
#home article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home img {
    margin-top: 15px;
    border: 2px solid #ccc;
    padding: 5px;
}

/* Headings */
h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

/*Skills Section Using Flexbox*/

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    margin-top: 15px;
}

#skills li {
    background-color: #eaeaea;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Contact Section */

#contact a {
    color: #0066cc;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #222;
    color: #ffffff;
}
